<div class="row">
    <div id="sobre" class="col-xs-10 col-md-11 col-lg-11">
        <h1><i class="bi bi-person-heart"></i>Acerca de Mí <i class="bi bi-pencil-square" style="font-size: 1rem;"></i>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, vel in nulla fugit itaque voluptatibus
            quam reprehenderit temporibus aliquam rem reiciendis possimus voluptas ipsa libero ad est quasi aperiam
            veniam!</p>
    </div>
    <div id="img-sobre" class="col-xs-10 col-md-3 col-lg-3">
        <img src="https://i.ibb.co/1R8vyjC/img-about.webp" alt="">
    </div>
    <div>
        <app-educacion></app-educacion>
    </div>
    <div>
        <app-experiencia></app-experiencia>
    </div>
</div>