<div class="edu">
    <div id="edu" class="col-xs-12 col-md-4 col-lg-4" >
        <h3><i class="bi bi-journal-code"></i>Educación <i id="add" class="bi bi-plus-circle" style="font-size: 1rem;"></i></h3>
    </div>
    <div class="card bg-transparent mb-3" style="max-width: 15rem;">
        <div class="card-header">
            <h4>Institución:</h4></div>
        <div class="card-body">
            <h5 class="card-title">Titulo:</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime tenetur placeat officia facere nobis rem!</p>
        </div>
    </div>
</div>
